/* Define custom properties for color variables */
:root {
    --primary: #000000;
    }
    
    /* Define base styles for button */
    .btn {
    padding: 18px 20px;
    border-radius: 4px;
    outline: none;
    cursor: pointer;
    white-space: nowrap;
    font-family: "normalidad-wide", sans-serif;
    font-weight: 500;
    font-style: normal;
    }
    
    /* Define styles for primary button */
    .btn--primary {
    background-color:var(--primary);
    color: #fff;
    border: 1px solid #fff;
    }
    
    /* Define styles for outline button */
    .btn--outline {
    background-color: transparent;
    color: black;
    padding: 8px 20px;
    border: 1px solid black ;
    transition: all 0.3s ease-out;
    }

    .btn--speziale {
        background-color: transparent;
        color: white;
        padding: 8px 20px;
        border: 1px solid white ;
        transition: all 0.3s ease-out;
        }
        
    
    /* Define styles for medium-sized button */
    .btn--medium {
    padding: 8px 40px;
    font-size: 18px;
    }
    
    /* Define styles for large-sized button */
    .btn--large {
    padding: 12px 26px;
    font-size: 20px;
    }
    
    /* Define styles for mobile-sized button */
    .btn--mobile {
    text-align: center;
    border-radius: 4px;
    width: 80%;
    text-decoration: none;
    font-size: 24px;
    background-color: transparent;
    color: black;
    padding: 10px 20px;
    border: 1px solid black;
    transition: all 0.3s ease-out;
    }
    

    /* Define styles for primary-colored button */
    .primary {
    background-color: #242424;
    color: #fff;
    border: none;
    }
    
    
    /* Define styles for button link */
    .btn-link {
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    padding: 8px 16px;
    height: 100%;
    width: 100%;
    }
